.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  margin-bottom: 1rem;
}

.err-msg {
    color: red;
    margin-top: 1rem;
}

.login-link {
  font-size: .8rem;
  margin-top: 1rem;
  text-decoration: none;
}