.listing-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: "8rem";
  height: "8rem";
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 0;
}

.listing-thumbnail-img {
  /* width: 7rem;
  height: auto; */
  border-radius: .1rem;
}

.listing-thumbnail span {
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

.thumbnail-icons {
  font-size: .5rem;
}

.delete-modal-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  padding: 1rem;
  border-radius: .2rem;
}

.delete-modal-div h4 {
  margin: 0;
  margin-bottom: .5rem;
}

.delete-modal-div span {
  font-size: .9rem;
}

.delete-modal-buttons {
  display: flex;
  margin-top: 1rem;
  gap: .5rem;
  width: 100%;
  justify-content: flex-end;
}