.listing-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.listing-thumbnail-img {
  width: 7rem;
  height: auto;
  border-radius: .25rem;
}

.listing-thumbnail span {
  font-size: 0.8rem;
  margin-top: 0.4rem;
}
