.navbar {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo-text {
  margin: 0rem;
  text-decoration: none;
  color: inherit;
}

.navbar-l {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-m {
  min-width: 30%;
}

.search-input {
  border: .05rem solid black;
  padding: .5rem;
  width: 30rem;
}

.navbar-r {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.view-listings-link {
  font-size: 0.8rem;
}
