.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-container h2 {
  margin-bottom: 0rem;
}

.form-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.auth-form-container button {
  border: none;
  background-color: #0972d3;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.auth-form-container input {
  border: 0.05rem solid;
  padding: 1rem;
  width: 20rem;
  border-radius: 0.5rem;
}

.signup-link {
  font-size: 0.8rem;
  margin-top: 1rem;
  text-decoration: none;
}
