.search-results {
    display: flex;
    flex-direction: column;
}

.search-results-title {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.search-results-main {
    padding: 3rem;
}

.cat-bar {
    display: flex;
    border-top: .05rem lightslategray solid;
    border-bottom: .05rem lightslategray solid;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.cat-bar-button {
    text-decoration: none;
    color: inherit;
    padding: .8rem .8rem;
    margin: 0;
}

.search-results-main {
    display: flex;
    flex-direction: row;
}

.filter-bar {
    flex: 1;
    min-width: fit-content;
    margin-right: 1rem;
}

.filter-bar hr {
    background-color: lightgray; 
    height: 1px; 
    border: 0;
}

.results-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.results {
    display: flex;
    flex: 5;
    flex-direction: column;
    flex-wrap: wrap;
}

.listings {
    display: flex;
    flex-wrap: wrap;
}

.status
{
    font-size: .8rem;
}

.status-buttons {
    margin-bottom: 1.5rem;
}

.category-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cat-opt {
    font-size: .8rem;
    cursor: pointer;
}

.sort-button {
    justify-content: flex-end;
    align-self: self-end;
}

.location {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
}