.listing-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.listings {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

