.listing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.listing-panel {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  width: 30rem;
  border: .05rem #F7F7F7 solid;
  background-color: #F7F7F7;
  padding: 1rem 2rem;
  border-radius: .5rem;
}

.listing img,
.listing-r img  {
  width: 15rem;
  object-fit: scale-down;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#claim-btn, #unclaim-btn {
  margin-top: 1rem;
  border: none;
  border-radius: .5rem;
  padding: .6rem 3rem;
  font-size: .8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #0972D3;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#unclaim-btn {
  background-color: gray;
  padding: .6rem 2.5rem;
}

.claim {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.claim p {
  font-size: .8rem;
  margin-top: .4rem;
  color: gray;
}

.listing-l {
    display: flex;
    flex-direction: column;
}

.listing-date {
  color: var(--subtext-gray);
  font-size: 0.8rem;
}

.listing-profile-link {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #0972D3;
  cursor: pointer;
}

.listing-title {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.listing-details h4,
.listing-description h4 {
  margin-bottom: .9rem;
}

.listing-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listing-details .details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.9rem;
}

.details-l,
.details-r {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.details-l,
.listing-proximity {
  color: var(--subtext-gray);
  text-transform: capitalize;
}

.description-text {
    font-size: .9rem;
}

.claim-btn {
    margin-top: 1rem;
    padding: .25rem;
    cursor: pointer;
}

